<!DOCTYPE html>
<html>
<body>

<h1>About</h1>


<p>Toto je paragraph o webovej stranke</p>

  <%= image_tag 'http://www.developerslane.com/wp-content/uploads/2014/04/RubyOnRails.jpg' %>




</body>
</html>
<br>
<%= link_to 'Welcome', root_path %>