<!DOCTYPE html>
<html>
<body>

<h1>Welcome</h1>

    <h2>To my homepage about Ruby</h2>



  <img src="https://lh3.googleusercontent.com/GnSYJOHhvq5mUtXkKG0K9wqjIBz1LoanH9rZhqeTzATFXRTDMiAszXDVz-4lJf3LTvtF5Tu722qvtfCKaqayFH65iDi7JavP3tBjbVkNpIj_1SSxDLZQrcJplD-PMRBy5XU_AaXEgqRRjvl4kd393YPF6Pf5tS-iRn35c45mtdyC2OCKnPBjDdbC7JjGqmMM2KpZnhDXt1AG0FqAAm2fud-hB6kqczf0wP7GVYFnR5--uON1hyZ4xDzOejOQaI2FI1LXsi8gRq6tCfpAEpzAVyV0p6Guou1_CcpblmXO1YFCEc6WUY1bTqBbqD3vSKNAVDwIOmwkFf3nc7RqkNbKU7lp4yTexBLLDsaVQ7G73N_Kk0VcPjk9v4pswlUkp2_C5FOSa3bl281yCXx0FxPMr9gzm01OMGd6gL-F2QBw-slEhFtwHlJArbP4T5_FQrrcrueWgPkz-a12Q4Jr-7fKlJZarh63C_XY0QCe1pXPkDENu6cxWiZT1-pYypVC8yw3NMcncWZrXDwLRgryFNpDxGgmpuNkhwalr2nk4iz9xC8h9dMCXdbeb392gX8No_9fDuxw=w1600-h554-no" alt="W3Schools.com">

<p>Toto je prvy paragraph</p>

<p>Toto je druhy paragraph</p>


  <iframe width="560" height="315" src="https://www.youtube.com/embed/GY7Ps8fqGdc" frameborder="0" allowfullscreen></iframe>
<br>

  <a href="http://www.w3schools.com/html/">Visit our HTML tutorial</a>

</body>
</html>
<br>

<%= link_to "Alpha_blog", articles_path %> |
<%= link_to 'About', about_path %>