<!DOCTYPE html>
<html>
<body>

<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>

  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>

</div>



  <iframe width="560" height="315" src="https://www.youtube.com/embed/GY7Ps8fqGdc" frameborder="0" allowfullscreen></iframe>
<br>

  <a href="http://www.w3schools.com/html/">Visit our HTML tutorial</a>

</body>
</html>
<br>

<%= link_to "Alpha_blog", articles_path %> |
<%= link_to 'About', about_path %>